In [223]:
data = """7 6 4 2 1
1 2 7 8 9
9 7 6 2 1
1 3 2 4 5
8 6 4 4 1
1 3 6 7 9"""

In [224]:
with open("AoC_D2_data.txt", "r") as f:
    data = f.read()

In [225]:
import pandas as pd
reports = pd.DataFrame([[int(v) for v in line.split(" ")] for line in data.split("\n")])
reports

      0   1   2   3   4     5     6     7
0    65  68  71  72  71   NaN   NaN   NaN
1    31  34  36  37  37   NaN   NaN   NaN
2    80  83  84  86  87  90.0  92.0  96.0
3    30  33  36  39  45   NaN   NaN   NaN
4    21  22  25  23  24   NaN   NaN   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  86  89  91  92  95  96.0   NaN   NaN
996  35  38  39  41  44  45.0   NaN   NaN
997  12  15  16  18  21  22.0  24.0   NaN
998  65  63  60  59  57  54.0  52.0   NaN
999  37  34  31  29  27  25.0  22.0  19.0

[1000 rows x 8 columns]

In [226]:
# PART 1
def is_safe(s):
    s = s.dropna()
    if (s.is_monotonic_increasing | s.is_monotonic_decreasing) & s.diff().dropna().abs().between(1,3).all():
        # print("SAFE")
        return 1
    else:
        # print("NOT SAFE")
        return 0
# print(reports.apply(is_safe, axis=1))    
reports.apply(is_safe, axis=1).sum()

269

In [222]:
# PART 2
def is_safe2(s):
    s = s.dropna()
    if is_safe(s) == 1:
        return 1
    else:
        for i in s.index:
            if is_safe(s.drop(index=i)):
                return 1
        return 0
# print(reports.apply(is_safe2, axis=1))
reports.apply(is_safe2, axis=1).sum()

337