In [93]:
import pandas as pd

In [94]:
data = """5,4
4,2
4,5
3,0
2,1
6,3
2,4
1,5
0,6
3,3
2,6
5,1
1,2
5,5
2,5
6,5
1,4
0,4
6,4
1,1
6,1
1,0
0,5
1,6
2,0"""
width, height, bytes_falling = 7, 7, 12

In [61]:
with open("AoC_D18_data.txt", "r") as f:
    data = f.read()
width, height, bytes_falling = 71, 71, 1024

In [95]:
bytes_bombs = [[int(v) for v in line.split(",")] for line in data.split("\n")]
bytes_bombs
mem = pd.DataFrame(data='.', columns=range(width), index=range(height))
ini_step_count = pd.DataFrame(data=9999, columns=mem.columns, index = mem.index)
ini_step_count.loc[0, 0] = 0

In [96]:
ini_step_count

      0     1     2     3     4     5     6
0     0  9999  9999  9999  9999  9999  9999
1  9999  9999  9999  9999  9999  9999  9999
2  9999  9999  9999  9999  9999  9999  9999
3  9999  9999  9999  9999  9999  9999  9999
4  9999  9999  9999  9999  9999  9999  9999
5  9999  9999  9999  9999  9999  9999  9999
6  9999  9999  9999  9999  9999  9999  9999

In [97]:
def one_step(mem, step_count, pos):
    x = pos[0]
    y = pos[1]
    is_front = []
    steps = step_count.loc[pos[1], pos[0]]
    for up, right in [[-1, 0], [0, -1], [1, 0], [0, 1]]:
        if (pos[1]+up in mem.index) & (pos[0]+right in mem.columns):
            if (mem.loc[pos[1]+up, pos[0]+right] != "#") & (steps+1 < step_count.loc[pos[1]+up,pos[0]+right]):
                step_count.loc[pos[1]+up, pos[0]+right] = steps+1
                is_front.append((pos[0]+right, pos[1]+up))
    return step_count, is_front

In [98]:
for x, y in bytes_bombs[:bytes_falling]:
    mem.loc[y, x]="#"
mem.iloc[:20, :20]

step_count = ini_step_count.copy()
pos = (0, 0)
is_front_tmp = [(0,0)]
next_is_front = []
while len(is_front_tmp)>0:
    for pos in is_front_tmp:
        step_count, is_front = one_step(mem, step_count, pos)
        next_is_front.extend(is_front)
    is_front_tmp = next_is_front.copy()
    next_is_front = []
print("min steps:", step_count.iloc[-1, -1])
step_count

min steps: 22

      0     1     2     3     4     5     6
0     0     1     2  9999     8     9    10
1     1     2  9999     6     7  9999    11
2     2     3     4     5  9999    13    12
3     3     4     5  9999    15    14  9999
4     4     5  9999    17    16  9999    24
5     5  9999    19    18  9999    22    23
6  9999  9999  9999    19    20    21    22

In [101]:
"total bytes", len(data.split("\n"))

('total bytes', 25)

In [108]:
# bytes_falling = 3000
# bytes_falling = 2000
# bytes_falling = 2500
# bytes_falling = 2800
# bytes_falling = 2900
# bytes_falling = 2850
# bytes_falling = 2870
# bytes_falling = 2890
# bytes_falling = 2880
# bytes_falling = 2885
# bytes_falling = 2883
# bytes_falling = 2882
# bytes_falling = 2883

bytes_falling = 12
bytes_falling = 20
bytes_falling = 23
bytes_falling = 22
bytes_falling = 21
mem = pd.DataFrame(data='.', columns=range(width), index=range(height))
for x, y in bytes_bombs[:bytes_falling]:
    mem.loc[y, x]="#"
print(x, y)
mem.iloc[:20, :20]

step_count = ini_step_count.copy()
pos = (0, 0)
is_front_tmp = [(0,0)]
next_is_front = []
while len(is_front_tmp)>0:
    for pos in is_front_tmp:
        step_count, is_front = one_step(mem, step_count, pos)
        next_is_front.extend(is_front)
    is_front_tmp = next_is_front.copy()
    next_is_front = []
print("min steps:", step_count.iloc[-1, -1])

6 1
min steps: 9999