In [188]:
data = """kh-tc
qp-kh
de-cg
ka-co
yn-aq
qp-ub
cg-tb
vc-aq
tb-ka
wh-tc
yn-cg
kh-ub
ta-co
de-co
tc-td
tb-wq
wh-td
ta-ka
td-qp
aq-cg
wq-ub
ub-vc
de-ta
wq-aq
wq-vc
wh-yn
ka-de
kh-ta
co-tc
wh-qp
tb-vc
td-yn"""

In [79]:
with open("AoC_D23_data.txt", "r") as f:
    data = f.read()

In [189]:
connections = [sorted(l.split("-")) for l in data.split("\n")]
print(len(connections))
connections[:5]

32

[['kh', 'tc'], ['kh', 'qp'], ['cg', 'de'], ['co', 'ka'], ['aq', 'yn']]

In [192]:
from tqdm import tqdm
trios = []
for c1 in tqdm(connections):
    for c2 in connections:
        # print(c1, c2)
        if (sorted([c1[0], c2[0]]) in connections) & (sorted([c1[1], c2[0]]) in connections) & (sorted([c1[0], c1[1], c2[0]]) not in trios) :
            l = [c1[0], c1[1], c2[0]]
            trios.append(sorted([c1[0], c1[1], c2[0]]))
        if (sorted([c1[0], c2[1]]) in connections) & (sorted([c1[1], c2[1]]) in connections) & (sorted([c1[0], c1[1], c2[1]]) not in trios) :
            trios.append(sorted([c1[0], c1[1], c2[1]]))
print(len([t for t in trios if any([c.startswith("t") for c in t])]))

100%|█████████████████████████████████████████| 32/32 [00:00<00:00, 1732.45it/s]

7

In [196]:
#part 2
import pandas as pd
import matplotlib.pyplot as plt
computers = list(set([item for row in connections for item in row]))
lan_matrix = pd.DataFrame(index=computers, columns=computers, data=0)
for c in connections:
    lan_matrix.loc[c[0], c[1]] = 1
    lan_matrix.loc[c[1], c[0]] = 1
# lan_matrix
# plt.figure(figsize=(5,5))
# plt.pcolor(lan_matrix)

In [197]:
seen = []
lan_score = {}
for c in computers[:]:
    if c in seen:
        continue
    lan_condidate = sorted([c] + lan_matrix[c][lan_matrix[c]>0].index.tolist())
    # print(lan_condidate, lan_matrix.loc[lan_condidate, lan_condidate].sum().sum())
    lan_score[",".join(lan_condidate)] = lan_matrix.loc[lan_condidate, lan_condidate].sum().sum()
    seen.extend(lan_condidate)

In [198]:
dict(sorted(lan_score.items(), key=lambda item: item[1]))

{'kh,qp,td,ub,wh': 12,
 'aq,cg,td,wh,yn': 12,
 'aq,tb,ub,vc,wq': 14,
 'co,de,ka,ta,tc': 14}

In [199]:
lan4 = sorted(list(set('co,de,ka,ta,tc'.split(','))))
lan_matrix.loc[lan4, lan4]

    co  de  ka  ta  tc
co   0   1   1   1   1
de   1   0   1   1   0
ka   1   1   0   1   0
ta   1   1   1   0   0
tc   1   0   0   0   0

In [200]:
lan4 = sorted(list(set('aq,tb,ub,vc,wq'.split(','))))
lan_matrix.loc[lan4, lan4]

    aq  tb  ub  vc  wq
aq   0   0   0   1   1
tb   0   0   0   1   1
ub   0   0   0   1   1
vc   1   1   1   0   1
wq   1   1   1   1   0

In [ ]:
# xxxxxxxxx: er,fh,fi,ir,kk,lo,lp,qi,ti,vb,xf,ys,yu