In [223]:
data = """7 6 4 2 1
1 2 7 8 9
9 7 6 2 1
1 3 2 4 5
8 6 4 4 1
1 3 6 7 9"""

In [224]:
with open("AoC_D2_data.txt", "r") as f:
    data = f.read()

In [234]:
import pandas as pd
reports = pd.DataFrame([[float(v) for v in line.split(" ")] for line in data.split("\n")])
reports

        0     1     2     3     4     5     6     7
0    65.0  68.0  71.0  72.0  71.0   NaN   NaN   NaN
1    31.0  34.0  36.0  37.0  37.0   NaN   NaN   NaN
2    80.0  83.0  84.0  86.0  87.0  90.0  92.0  96.0
3    30.0  33.0  36.0  39.0  45.0   NaN   NaN   NaN
4    21.0  22.0  25.0  23.0  24.0   NaN   NaN   NaN
..    ...   ...   ...   ...   ...   ...   ...   ...
995  86.0  89.0  91.0  92.0  95.0  96.0   NaN   NaN
996  35.0  38.0  39.0  41.0  44.0  45.0   NaN   NaN
997  12.0  15.0  16.0  18.0  21.0  22.0  24.0   NaN
998  65.0  63.0  60.0  59.0  57.0  54.0  52.0   NaN
999  37.0  34.0  31.0  29.0  27.0  25.0  22.0  19.0

[1000 rows x 8 columns]

In [235]:
# PART 1
def is_safe(s):
    s = s.dropna()
    if (s.diff().dropna().between(1,3).all() | s.diff().dropna().between(-3,-1).all()):
        return True
    return False

reports.apply(is_safe, axis=1).sum()

269

In [237]:
# PART 2
def is_safe2(s):
    if is_safe(s):
        return True
    for i in s.dropna().index:
        if is_safe(s.drop(index=i)):
            return True
    return False

reports.apply(is_safe2, axis=1).sum()

337